[Unit]
Description=Duplix web-server
After=network.target

[Service]
Nice=19
IOSchedulingClass=idle
EnvironmentFile=-/etc/default/duplicati
ExecStart=/usr/bin/duplicati-server $DAEMON_OPTS --webservice-interface=any
Restart=always

[Install]
WantedBy=multi-user.target